{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    <div class="row">
        {% for projet in projets %}
        <div class="col-lg-4 col-md-6">
            <article>
                <h2 class="my-4">{{ projet.title }}</h2>
                    <img src="{{projet.image}}" alt="">
                        <a href={{projet.github}} target="blanck"><button type="button"
                                class="btn btn-primary mr-2 mt-2">GitHub</button></a>
                        <a href={{projet.weblink}} target="blanck"><button type="button" class="btn btn-primary mr-2 mt-2">Site
                                Web</button></a>
                        <a href={{ path('home_show', {'id': projet.id}) }} type="button" class="btn btn-primary mt-2">Lire la
                            suite</a>
                            </div>
            </article>
        {%endfor%}
    </div>
{% endblock %}